@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
    .container_p{
      padding: 0 0px;
    }
    .text-stroke {
      --text-stroke-width: 1px;
      -webkit-text-stroke-width: var(--text-stroke-width);
      -webkit-text-stroke-color: rgba(28,45,78,1);
    }
    .container{
     @apply w-[1320px] m-auto tablet:px-10 sm_mobile:px-3 sm_mobile:max-w-full
    }
    .nav{
      @apply tablet:py-6 sm_mobile:py-2 border-b-2 border-[#22324455] 
    }
    .fixed_menu{
      @apply fixed w-full z-[999999] bg-[#22324455] backdrop-blur-md duration-300 ease-in-out
    }
    .a_css{
      @apply font-k2d lg_tablet:text-base md:text-sm tablet:text-xs sm_mobile:text-xs  rounded duration-300 ease-in-out font-light lg_tablet:px-4  md:px-2 tablet:px-1 md:mx-2 tablet:mx-1 py-2 hover:a_active
    }
    .a_active{
        @apply bg-[#22324455] text-active rounded
    }
    .btn_contact{
      @apply bg-active text-white py-3
    }
    .accordine{
      @apply text-gray-400 bg-[#142038] rounded font-light text-sm font-poppin mt-4 duration-300 ease-in-out p-3
    }
    .mobileMenu {
      @apply text-gray-200 ease-in-out fixed left-1/2 top-0  -translate-x-1/2 duration-1000 bg-2nd_color p-5 w-full z-[99999] rounded-xl
    }
    .waterMarkCss{
      @apply font-poppin lg_tablet:text-[200px] tablet:text-[100px] sm_mobile:text-[56px] -translate-x-1/2 -translate-y-1/2 tracking-wide text-stroke text-transparent font-bold absolute  top-1/4 left-1/2 z-[-1]
    }
    .titleH2Css{
      @apply font-k2d font-bold  tablet:text-5xl sm_mobile:text-3xl text-gray-300 
    }
    .Card3d{
      transform: rotateX(-69deg) perspective(500px)  skewY(0);
      -webkit-transform: rotateX(-69deg) perspective(500px)  skewY(0);
      -moz-transform: rotateX(-69deg) perspective(500px)  skewY(0);
      -ms-transform: rotateX(-69deg) perspective(500px)  skewY(0);
      -o-transform: rotateX(-69deg) perspective(500px)  skewY(0);
}
}