@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{

    .container_p{
      padding: 0 0px;
    }
    .text-stroke {
      --text-stroke-width: 1px;
      -webkit-text-stroke-width: var(--text-stroke-width);
      -webkit-text-stroke-color: rgba(28,45,78,1);
    }
    .container{
     @apply w-[1320px] m-auto tablet:px-10 sm_mobile:px-3 sm_mobile:max-w-full
    }
    .nav{
      @apply py-6 border-b-2 border-[#22324455] 
    }
    .fixed_menu{
      @apply fixed w-full z-[999999] bg-[#22324455] backdrop-blur-md duration-300 ease-in-out
    }
    .a_css{
      @apply font-k2d xl:text-base md:text-sm sm_mobile:text-xs  rounded duration-300 ease-in-out font-light px-5 mx-2 py-2 hover:a_active
    }
    .a_active{
        @apply bg-[#22324455] text-active rounded
    }
    .btn_contact{
      @apply bg-active text-white py-3
    }
    .accordine{
      @apply text-gray-400 bg-[#142038] rounded font-light text-sm font-poppin mt-4 duration-300 ease-in-out p-3
    }
}